/.metadata
/BackToTheCode/bin
/Build/target
/PlatinumRift/bin
/PokerChipRace/bin
/Tron/bin
/RemoteSystemsTempFiles
/IndianaLvl1/.cache-main
/StockExchangeLosses/.cache-main
/TelephoneNumbers/.cache-main
/TheParanoidAndroid/.cache-main
